<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Password Reset Email</title>
<style>

body {
  background-color: green;
  align-content: center;
  text-align: center;
  margin-top: 100px;
}

.retina-logo-image {
  align-content: center;
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: orange;
    }
}

</style>
</head>

<body>
  <a href='{{{appUrl}}}/#/password-reset?code={{passwordResetCredentialsCode}}'>
    Click here to reset your password
  </a>

  Note this link expires in 2 hours
  <div class='retina-logo'>
    <img class='retina-logo-image' src="https://s3.us-east-2.amazonaws.com/retina-develop-us-east-2/red_transparent_512x512.c01ec64a.png">
  </div>
</body>

</html>
