<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Password Reset Email</title>
<style>

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: "lato";
  text-align: center;
}

.header {
  background-color: white;
  text-align: center;
}

.install-button:active {
  background-color: #81201d;
  box-shadow: none;
}

@media (max-device-width: 500px) {
    .header img {
        height: 300px;
        padding: 60px 0px 40px 0px;
    }

    .title {
        font-weight: 700;
        font-size: 100px;
        text-align: center;
        color: #404040;
    }

    .description {
        padding: 0px 20px 0px 20px;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 150px;
        color: #404040;
    }

    .button-container {
      margin-top: 90px;
      width: 100vw;
      margin-bottom: 30px;
    }

    .install-button {
        text-decoration: none;
        font-size: 50px;
        background-color: #ce352f;
        color: white;
        border-radius: 6px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 30px 100px 30px 100px;
    }
}


@media (min-device-width: 500px) {
    .header img {
        height: 100px;
        padding: 30px 0px 30px 0px;
    }

    .title {
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color: #404040;
    }

    .description {
        padding: 0px 20px 0px 20px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5vh;
        color: #404040;
        line-height: 40px;
    }

    .button-container {
      margin-top: 30px;
      width: 100vw;
      margin-bottom: 30px;
    }

    .install-button {
        text-decoration: none;
        font-size: 16px;
        background-color: #ce352f;
        color: white;
        border-radius: 6px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 15px 50px 15px 50px;
        margin-bottom: 30px;
    }
}

</style>
</head>

<body>

  <div class="header">
      <img src="https://s3.us-east-2.amazonaws.com/retina-develop-us-east-2/red_transparent_512x512.c01ec64a.png">
  </div>
  <div class="title">
      RETINA
  </div>
  <div class="description">
      <span> Click below to reset your password.</span>
      <span> This page expires in two hours.</span>
  </div>
  <div class="button-container">
      <a class="install-button"
          href="{{{appUrl}}}/#/password-reset?code={{passwordResetCredentialsCode}}">
          RESET PASSWORD 
      </a>
  </div>
</body>

</html>
